<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liv3ly.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:name="com.liv3ly.demo.Liv3lyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Liv3ly"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">

        <service android:name="com.liv3ly.demo.service.SyncService" />

        <activity
            android:name="com.liv3ly.demo.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>